<div class="body-content">
    <p id="notice"><%= notice %></p>
    <table class="body-table">
        <tr>
            <td style="width:320px">
                <img src="/assets/top01.jpg">
                <img src="/assets/top02.jpg">
            </td>
            <td style="width:320px; text-align:center">              
                <h3>Welcome to Thai SNS</h3>
                <p>「なんかこういうのをかっこよく見せるためには、こ洒落た写真を使うのがいいよね」</p>
                <p>つうことで、友人のやっているタイ料理店『ソンタナ』の料理なんかを撮影</p>
                <br>
                <% if logged_in? %>
                <%=link_to "ブログを見る", "/blogs" %>
                <%=link_to "ログアウト", session_path(current_user.id), method: :delete %>
                <% else %>
                <%=link_to "新規登録", new_user_path%>
                <%=link_to "ログイン", new_session_path%>
                <% end %>
            </td>
        </tr>
    </table>
</div>